.aboutcontainer{
    background-color: bisque;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.highlightcontainer{
    background-color: rgb(196, 240, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.testicontainer{
    display: flex;    
    justify-content: center;
    gap: 3%;
    padding: 0;
    margin: 0;
    align-items: center;
      width: 100vw;
    height: 100vh;
}
.testimonial {
    font-size: 18px;
    line-height: 1.4;
    width: 60%;
    height: 80%;
    margin: auto;
    text-align: left;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;


}
.navbar {
  position: fixed; 
  top: 0; 
  width: 100%; 
  padding: 10px; 
  z-index: 1000; 
}
.footer{
    width: 100%;
    padding:  10px;
    z-index:  -1000;
}